{% extends 'base.html' %}
{% block content %}
<h1>{{ room_name }}</h1>
<div id="devices-container">
    {% for device in devices %}
        {% set uniqueId = device.uniqueId %}
        {% set serviceName = device.serviceName %}
        {% set characteristics = device.serviceCharacteristics %}
        {% set values = device.values %}
        {% include 'devices/' + device.type + '.html' %}
    {% endfor %}
</div>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function() {
    // Initialize device-specific JS
    {% for device in devices %}
        $.getScript('{{ url_for('static', filename='js/devices/' + device.type + '.js') }}', function() {
            if (typeof initDevice === 'function') {
                initDevice('{{ device.uniqueId }}');
            }
        });
    {% endfor %}
});
</script>
{% endblock %}