body {
    background-color: #121212;
}
.card {
    background-color: #1E1E1E;
}
.form-control, .form-check-input, .form-range {
    background-color: #2C2C2C;
    color: #FFFFFF;
    border-color: #444444;
}
