<div class="col-12 mb-3">
    <div class="card bg-secondary text-white">
        <div class="card-body">
            <h5 class="card-title">{{ device.serviceName }}</h5>
            <div class="btn-group" role="group" aria-label="Garage Door Control">
                <button type="button" class="btn btn-primary device-door-control" data-state="0" {% if device.values.TargetDoorState == 0 %}disabled{% endif %}>Open</button>
                <button type="button" class="btn btn-primary device-door-control" data-state="1" {% if device.values.TargetDoorState == 1 %}disabled{% endif %}>Close</button>
            </div>
            <p class="mt-2">Current State: {{ device.currentDoorState }}</p>
        </div>
    </div>
</div>
