<div class="col-12 mb-3">
    <div class="card bg-secondary text-white">
        <div class="card-body">
            <h5 class="card-title">{{ device.serviceName }}</h5>
            <div class="form-check form-switch">
                <input class="form-check-input device-toggle" type="checkbox" id="toggle-{{ device.uniqueId }}" {% if device.values.On %}checked{% endif %}>
                <label class="form-check-label" for="toggle-{{ device.uniqueId }}">On/Off</label>
            </div>
            {% if device.values.Brightness is not none %}
            <div class="mt-3">
                <label for="brightness-{{ device.uniqueId }}" class="form-label">Brightness</label>
                <input type="range" class="form-range device-brightness" id="brightness-{{ device.uniqueId }}" min="0" max="100" value="{{ device.values.Brightness }}">
            </div>
            {% endif %}
            {% if device.values.Hue is not none and device.values.Saturation is not none %}
            <div class="mt-3">
                <label for="color-{{ device.uniqueId }}" class="form-label">Color</label>
                <input type="color" class="form-control form-control-color device-color" id="color-{{ device.uniqueId }}" value="{{ device.color }}">
            </div>
            {% endif %}
            {% if device.values.ColorTemperature is not none %}
            <div class="mt-3">
                <label for="temperature-{{ device.uniqueId }}" class="form-label">Color Temperature</label>
                <input type="range" class="form-range device-temperature" id="temperature-{{ device.uniqueId }}" min="{{ device.characteristics|filter(attribute='type', value='ColorTemperature')|first.minValue }}" max="{{ device.characteristics|filter(attribute='type', value='ColorTemperature')|first.maxValue }}" value="{{ device.values.ColorTemperature }}">
            </div>
            {% endif %}
        </div>
    </div>
</div>
