
<div class="card bg-secondary text-white mb-3">
    <div class="card-header">{{ device.serviceName }}</div>
    <div class="card-body">
        <div class="form-group">
            <label>Door State</label>
            <select class="form-control target-door-state">
                <option value="0" {{#if_eq device.values.TargetDoorState 0}}selected{{/if_eq}}>Open</option>
                <option value="1" {{#if_eq device.values.TargetDoorState 1}}selected{{/if_eq}}>Closed</option>
            </select>
        </div>
        <p>Current State: {{ device.values.CurrentDoorState }}</p>
        {{#if device.values.ObstructionDetected}}
        <p class="text-danger">Obstruction Detected!</p>
        {{/if}}
    </div>
</div>
