{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1 class="mt-4">Rooms</h1>
    <div class="row">
        {% for room in rooms %}
        <div class="col-6 col-md-4 mb-3">
            <a href="{{ url_for('room', room_name=room.name) }}" class="text-decoration-none">
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <h5 class="card-title">{{ room.name }}</h5>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
