<div class="device card mb-3" data-unique-id="{{ device.uniqueId }}">
    <div class="card-body">
        <h5 class="card-title">{{ device.serviceName }}</h5>
        <p>Current Door State: <span class="current-door-state">{{ device.values.CurrentDoorState }}</span></p>
        <div class="form-group">
            <label>Target Door State</label>
            <select class="form-control target-door-state">
                <option value="0" {% if device.values.TargetDoorState == 0 %}selected{% endif %}>Open</option>
                <option value="1" {% if device.values.TargetDoorState == 1 %}selected{% endif %}>Closed</option>
            </select>
        </div>
    </div>
</div>
