<div class="device card mb-3" data-unique-id="{{ device.uniqueId }}">
    <div class="card-body">
        <h5 class="card-title">{{ device.serviceName }}</h5>
        <div class="form-group">
            <label>On/Off</label>
            <input type="checkbox" class="toggle-on-off" {% if device.values.On %}checked{% endif %}>
        </div>
        {% if device.values.Brightness is not none %}
        <div class="form-group">
            <label>Brightness</label>
            <input type="range" class="brightness-slider" min="0" max="100" value="{{ device.values.Brightness }}">
        </div>
        {% endif %}
        {% if device.values.Hue is not none %}
        <div class="form-group">
            <label>Hue</label>
            <input type="range" class="hue-slider" min="0" max="360" value="{{ device.values.Hue }}">
        </div>
        {% endif %}
        {% if device.values.Saturation is not none %}
        <div class="form-group">
            <label>Saturation</label>
            <input type="range" class="saturation-slider" min="0" max="100" value="{{ device.values.Saturation }}">
        </div>
        {% endif %}
        {% if device.values.ColorTemperature is not none %}
        <div class="form-group">
            <label>Color Temperature</label>
            <input type="range" class="color-temperature-slider" min="140" max="500" value="{{ device.values.ColorTemperature }}">
        </div>
        {% endif %}
    </div>
</div>
