
{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center text-white">{{ room_name }}</h1>
    <div id="devices-container">
        <!-- Devices will be loaded here -->
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        var roomName = "{{ room_name }}";
        function loadDevices() {
            $.getJSON('/api/rooms/' + encodeURIComponent(roomName) + '/devices', function(devices) {
                var container = $('#devices-container');
                container.empty();
                $.each(devices, function(index, device) {
                    var deviceType = device.type;
                    // Load the device template
                    var deviceDiv = $('<div></div>');
                    deviceDiv.load('/devices/' + deviceType + '.html', function() {
                        // Render the template with device data
                        var rendered = Mustache.render(deviceDiv.html(), { device: device });
                        deviceDiv.html(rendered);
                        // Initialize the device
                        initDevice(deviceDiv, device);
                        container.append(deviceDiv);
                    });
                });
            });
        }

        loadDevices();

        // Poll device states every 5 seconds
        setInterval(loadDevices, 5000);
    });
</script>
{% endblock %}
