
{% extends 'base.html' %}

{% block content %}
    <h1 class="mt-4">
        HomeAdmin
        {% include "recording.html" %}
    </h1>
    <div class="row">
        {% for room in rooms %}
        <div class="col-md-4">
            <div class="bg-secondary p-3 mb-3 rounded">
                <h3>{{ room.name }}</h3>
                <a href="{{ url_for('base.room', room_name=room.name) }}" class="btn btn-primary">View Devices</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
