{% if action_recording %}

<span 
  id="action-recording" 
  onclick="stopRecording('{{action_recording}}')" 
  class="material-symbols-outlined text-danger cursor-pointer"
>
    radio_button_checked
</span>


<script>
    $(document).ready(() => {
        function loop() {
            const val = $('#action-recording').html();
            if (val == 'radio_button_checked')
                $('#action-recording').html('radio_button_unchecked');
            else
                $('#action-recording').html('radio_button_checked');
            setTimeout(loop,1000);
        }
        loop();
    });
    function stopRecording(action_name) {
        //'/api/actions/<action_name>'
        let action = JSON.parse(localStorage.getItem('savedActions'))[action_name];
        console.log(action);
        $.ajax({
            url: `/api/actions/${action_name}`,
            type: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify(action),
            success: function(response) {
                window.location.href = '/';
                    
            }
        });
    }
</script>

{% endif %}