<div class="device lightbulb mb-4" id="device-{{ device.uniqueId }}">
    <h3>{{ device.serviceName }}</h3>
    <div class="form-check form-switch">
        {% for characteristic in device.characteristics %}
            {% if characteristic.type == 'On' %}
                <input class="form-check-input" type="checkbox" id="on-{{ device.uniqueId }}" {% if characteristic.value %}checked{% endif %}>
                <label class="form-check-label" for="on-{{ device.uniqueId }}">On</label>
            {% endif %}
        {% endfor %}
    </div>
    {% for characteristic in device.characteristics %}
        {% if characteristic.type == 'Brightness' %}
            <label for="brightness-{{ device.uniqueId }}" class="form-label mt-2">Brightness</label>
            <input type="range" class="form-range" id="brightness-{{ device.uniqueId }}" min="{{ characteristic.minValue }}" max="{{ characteristic.maxValue }}" value="{{ characteristic.value }}">
        {% elif characteristic.type == 'Hue' %}
            <label for="hue-{{ device.uniqueId }}" class="form-label mt-2">Hue</label>
            <input type="range" class="form-range" id="hue-{{ device.uniqueId }}" min="{{ characteristic.minValue }}" max="{{ characteristic.maxValue }}" value="{{ characteristic.value }}">
        {% elif characteristic.type == 'Saturation' %}
            <label for="saturation-{{ device.uniqueId }}" class="form-label mt-2">Saturation</label>
            <input type="range" class="form-range" id="saturation-{{ device.uniqueId }}" min="{{ characteristic.minValue }}" max="{{ characteristic.maxValue }}" value="{{ characteristic.value }}">
        {% elif characteristic.type == 'ColorTemperature' %}
            <label for="colortemperature-{{ device.uniqueId }}" class="form-label mt-2">Color Temperature</label>
            <input type="range" class="form-range" id="colortemperature-{{ device.uniqueId }}" min="{{ characteristic.minValue }}" max="{{ characteristic.maxValue }}" value="{{ characteristic.value }}">
        {% endif %}
    {% endfor %}
</div>